# Server
PORT=5000

# MongoDB
#MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/taskmanager?retryWrites=true&w=majority

# JWT
JWT_SECRET=supersecretjsonwebtokenkeymin32charslongreallylongsecretkey
JWT_EXPIRE=30d

# CORS (frontend URL après déploiement)
CORS_ORIGIN=http://localhost:5173
